body{
    background-color: theme-color(white);
    color: theme-color(blue);
    font-family: $maison;

    main.main{
        min-height: 100vh;

        .page-header{
            padding-top: 200px;
        }
    }
}

h1, h2, h3{
    text-transform: uppercase;
    font-family: 'VTC-Martin', sans-serif;
    letter-spacing: .05em;
}

h1{
    font-size: 3em;
    line-height: 1em;
}

h2{
    
}

a{
    &.button{
        background-color: theme-color(gold);
        color: theme-color(blue);
        font-size: .8em;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;

        &:hover{
            background-color: theme-color(green);
            text-decoration: none;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}