body{
    background-color: theme-color(white);
    color: theme-color(blue);
    font-family: $maison;

    main.main{
        min-height: 100vh;

        .page-header{
            padding-top: 200px;
        }
    }
}

h1, h2{
    text-transform: uppercase;
    font-family: $martin;
    letter-spacing: .05em;
}

h1{
    font-size: 3em;
    line-height: 1em;
}

h3{
    font-weight: bold;
    font-size: 1.1em;
}

a{
    &:hover{
        text-decoration: none;
        color: theme-color(green);
    }

    &.button,
    &.wp-block-button__link{
        background-color: theme-color(gold);
        color: theme-color(white);
        font-size: .8em;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 20px;

        &:hover{
            background-color: theme-color(green);
            text-decoration: none;
        }
    }
}

img{
    max-width: 100%;
    height: auto;
}