/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
  green: #009784,
  white: #FEF5F6,
  blue: #2C2274,
  gold: #CE9F36,
  black: #2C2274,
  lightblue: #F1F5FF
);

$grid-gutter: 50px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@font-face {
  font-family: 'VTC-Martin';
  src: url('../fonts/VTC-Martin-Regular.woff2') format('woff2'),
      url('../fonts/VTC-Martin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-book.woff2') format('woff2'),
      url('../fonts/MaisonNeue-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaisonNeue';
  src: url('../fonts/MaisonNeue-bold.woff2') format('woff2'),
      url('../fonts/MaisonNeue-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$maison: 'MaisonNeue', Arial, Helvetica, sans-serif;
$martin: 'VTC-Martin', sans-serif;
