.banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: $grid-gutter / 2 $grid-gutter;

  &.scrolled{
    background: theme-color(green);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);

    .brand{
      img{
        height: 50px;
      }
    }
  }

  .brand{
    img{
      height: 100px;
      transition: .5s;
    }
  }

  .nav{
    display: flex;
    height: 50px;
    align-items: center;

    li {
      @extend .nav-item;

      &:last-child{
        padding-left: .5em;

        a{
          background-color: theme-color(blue);
          padding: 5px 20px;
          border-radius: 20px;
        }
      }
    }
  
    a {
      @extend .nav-link;
      color: theme-color(white);
      text-transform: uppercase;
      font-size: .8em;
    }
  } 
}
