.page{
    section{
        padding: 100px 0;

        &:first-child{
            padding-top: 200px;
        }
    }

    &.home{

        #top{
            background-color: theme-color(green);

            .wrap{
                margin: 0 $grid-gutter;
            }

            h1{
                background-color: theme-color(gold);
                color: theme-color(white);
                padding: 5px;
                display: inline;
                line-height: 1.5em;
                max-width: 50vw;
            }
        }
        
        #donate{
            background-color: theme-color(blue);
            color: theme-color(white);
        }
        
        #newsletter{
            background-color: theme-color(gold);
            text-align: center;
        }
    }

    // CAMPAIGNS
    &.campaigns{
        #top{
            background-color: theme-color(gold);
            text-align: center;
            padding-bottom: 200px;
            margin-bottom: -100px;
        }

        #campaigns{
            padding-top: 0;
        }

        .campaign-block{
            @extend .col-md-4;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter;
            background: white;
            
            &:first-child{
                @extend .col-md-12;
                background: theme-color(blue);
                color: theme-color(white);
            }
        }
    }

    // POLICY
    &.policy{
        background-color: white;

        #top{
            background-color: theme-color(green);
            color: theme-color(white);
        }

        #federal{
            h2{
                border-bottom: 1px solid theme-color(blue);
            }
            
            .fed-bill-block{
                border-bottom: 1px solid theme-color(blue);
                padding: $grid-gutter 0;
                margin-bottom: $grid-gutter;

                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }

    &.about{
        #top{
            background-color: theme-color(blue);
            color: theme-color(white);
            padding-bottom: 0;

            h1{
                text-align: center;
                margin-bottom: $grid-gutter;

                strong{
                    color: theme-color(gold);
                    display: block;
                }
            }

            .wrap{
                display: flex;

                .text{
                    flex: 1;
                    z-index: 2;

                    p{
                        padding-right: $grid-gutter * 2;
                        padding-left: $grid-gutter /2;
                        
                        &:first-child{
                            @extend h1;
                            text-align: left;
                            padding: $grid-gutter / 2;
                            background-color: theme-color(green);
                            color: theme-color(white);
                            margin-bottom: 1em;
                        }
                    }
                }

                .image{
                    flex: 1;
                    margin-left: -$grid-gutter;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    &.vote{
        #top{
            background-color: theme-color(blue);
            color: theme-color(white);

            h1{
                color: theme-color(gold);
            }
        }

        section{
            background-color: white;

            &:nth-child(2n + 1){
                background-color: theme-color(lightblue);
            }
        }

        #endorsements{
            .candidate{
                padding-bottom: $grid-gutter;
                display: flex;

                .image{
                    flex: 0 0 150px;
                }

                .text{
                    padding-left: $grid-gutter;
                }
            }
        }

        #ballotGuides{
            .guide{
                @extend .col-md-4;
                margin-bottom: $grid-gutter;

                .year{
                    font-weight: 600;
                    padding-bottom: 10px;
                }
            }
        }
    }
}