.page{
    section{
        padding: $grid-gutter 0;

        &:first-child{
            padding-top: 100px;
        }

        @include media-breakpoint-up(md){
            padding: 100px 0;

            &:first-child{
                padding-top: 200px;
            }   
        }
    }

    .category{
        text-transform: uppercase;
        color: theme-color(green);
        font-size: .9em;
    }

    &.home{

        #top{
            background-color: theme-color(green);
            padding-bottom: 0;
            height: 90vh;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            position: relative;
            
            .text{
                padding: $grid-gutter / 2;
                position: absolute;
                z-index: 2;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                h1{
                    background-color: theme-color(gold);
                    color: theme-color(white);
                    padding: 2px 20px;
                    display: inline;
                    line-height: 1.3em;
                    font-size: 2.1em;
                }
            }

            .images{
                img{
                    z-index: 0;
                    position: absolute;
                    top: 100px;
                    left: 5%;
                    width: 90%;
                    
                    &:last-child{
                        top: auto;
                        bottom: 0;
                        left: 10%;
                        width: 60%;
                        transform: translateY(10px);
                    }
                }
            }

            @include media-breakpoint-up(md){
                height: 600px;
                overflow: visible;

                .text{
                    padding: $grid-gutter;
                    left: 10%;
                    max-width: 40%;
                    top: 150px;
                    transform: unset;

                    h1{
                        font-size: 3em;
                    }
                }

                .images{
                    position: relative;
                    max-width: 700px;
                    margin: auto;
                    
                    img{
                        bottom: 0;
                        left: 0;
                        top: auto;
                        width: 55%;
                        transform: translateY($grid-gutter);
                        
                        &:last-child{
                            left: auto;
                            right: 0;
                            width: 55%;
                            transform: translateY(10px);
                        }
                    }
                }
            }
        }

        #content{
            .container{
                max-width: 800px;
            }

            h2{
                color: theme-color(green);
            }

            h3{
                @extend h2;
                color: theme-color(blue);
                font-size: 2em;
            }

            .wp-block-columns{
                margin-top: $grid-gutter * 2;
                text-align: left;

                .wp-block-column{
                    margin-bottom: $grid-gutter;
                }
            }

            @include media-breakpoint-up(md){
                text-align: center;

                h2{
                    font-size: 3em;
                }

                .wp-block-columns{
                    .wp-block-column{
    
                        &:not(:first-child){
                            margin-left: 70px;
                        }
                    }
                }
            }
        }

        #feature{
            .row{
                align-items: center;
            }

            img{
                box-shadow: -10px 10px 0px 0px theme-color(blue);
            }

            .text{
                padding-top: $grid-gutter;
                padding-bottom: $grid-gutter;
            }
        }
        
        #donate{
            padding: 0;
            background-color: theme-color(blue);
            color: theme-color(white);

            .row{
                align-items: center;
            }

            .text{
                padding-top: $grid-gutter;
                padding-bottom: $grid-gutter;
            }

            @include media-breakpoint-up(md){
                img{
                    max-width: 400px;
                }
            }
        }
        
        #newsletter{
            background-color: theme-color(gold);
            text-align: center;

            .container{
                max-width: 500px;
            }

            #mc_embed_signup{
                margin-top: $grid-gutter / 2;

                form{
                    padding: 0;
                }

                .mc-field-group{
                    width: 100%;
                }

                input[type="email"]{
                    width: 100%;
                    border: 0;
                    border-radius: 0;
                    text-align: center;
                    padding: .8em;
                    background-color: theme-color(white);
                    color: theme-color(blue);
                    
                    &::placeholder{
                        color: #ccc;
                    }
                }

                input[type="submit"]{
                    background: theme-color(blue);
                    border-radius: 2em;
                    text-transform: uppercase;
                    width: 100%;
                    padding: .5em;
                    height: auto;
                }
            }
        }

        #latest{
            h2{
                margin-bottom: $grid-gutter;
                text-align: center;
            }

            .post-block{
                margin-bottom: $grid-gutter;

                .image{
                    height: 200px;
                    overflow: hidden;
                    margin-bottom: 15px;
                    background: white;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }

                .category{
                    margin-bottom: 5px;
                }

                h3{

                    a{
                        color: theme-color(blue);
                        
                        &:hover{
                            color: theme-color(green);
                        }
                    }
                }

                p{
                    margin-bottom: $grid-gutter / 2;
                }
            }
        }
    }

    // CAMPAIGNS
    &.campaigns{
        #top{
            background-color: theme-color(gold);
            text-align: center;
            padding-bottom: 200px;
            margin-bottom: -100px;

            .container{
                max-width: 700px;
            }
        }

        #campaigns{
            padding-top: 0;

            .container{
                max-width: 800px;
            }
        }

        .campaign-block{
            @extend .col-md-6;
            margin-bottom: $grid-gutter;

            .wrap{
                background: white;
            }
            
            &:first-child{
                @extend .col-md-12;

                .wrap{
                    background: theme-color(blue);
                    color: theme-color(white);
                }

                @include media-breakpoint-up(md){
                    .image{
                        height: 500px;
                    }
                }
            }

            .text{
                padding: $grid-gutter / 2;
            }

            .image{
                overflow: hidden;
                height: 200px;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            @include media-breakpoint-up(md){
                .text{
                    padding: $grid-gutter;
                }

                .image{
                    height: 300px;
                }
            }
        }
    }

    // POLICY
    &.policy{
        background-color: white;

        #top{
            background-color: theme-color(green);
            color: theme-color(white);

            .row{
                align-items: center;
                flex-flow: column-reverse;

                img{
                    margin-bottom: $grid-gutter / 2;
                }

                @include media-breakpoint-up(md){
                    flex-flow: row;

                    img{
                        margin-bottom: 0;
                    }
                }
            }

            h1{
                color: theme-color(blue);
            }
        }

        #agenda{
            padding-bottom: 0;

            h2{
                padding-bottom: $grid-gutter / 2;
                margin-bottom: $grid-gutter / 2;
                border-bottom: 1px solid theme-color(blue);
            }
        }

        #bills{
            padding-bottom: 0;

            .all-bills{
                border-top: 1px solid theme-color(blue);
                padding-top: $grid-gutter / 2;
                margin-top: $grid-gutter / 2;
            }

            .bill-block{
                padding-bottom: $grid-gutter / 2;
                margin-bottom: $grid-gutter / 2;
                border-bottom: 1px solid theme-color(blue);

                &:last-child{
                    border-bottom: 0;
                }

                &.active{
                    .content{
                        display: block;
                    }
                    .toggle{
                        &:after{
                            content: '-';
                        }
                    }
                }

                header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    p{
                        font-size: .9em;
                        margin-bottom: 5px;
                    }

                    &:hover{
                        .toggle{
                            color: theme-color(green);
                        }    
                    }

                    .toggle{
                        color: theme-color(blue);
                        transition: .25s;
                        font-size: 30px;

                        &:after{
                            content: '+';
                        }
                    }
                }

                .content{
                    display: none;
                    padding-top: $grid-gutter / 2;
                }

                img{
                    margin-bottom: $grid-gutter / 2;
                }
            }
        }

        #federal{
            h2{
                border-bottom: 1px solid theme-color(blue);
            }
            
            .fed-bill-block{
                border-bottom: 1px solid theme-color(blue);
                padding: $grid-gutter 0;
                margin-bottom: $grid-gutter;

                &:last-child{
                    border-bottom: 0;
                }
            }
        }
    }

    &.about{
        #top{
            background-color: theme-color(blue);
            color: theme-color(white);
            padding-bottom: 0;

            h1{
                text-align: center;
                margin-bottom: $grid-gutter;

                strong{
                    color: theme-color(gold);
                    display: block;
                }
            }

            .wrap{
                .text{
                    p{
                        
                        &:first-child{
                            @extend h1;
                            text-align: left;
                            background-color: theme-color(green);
                            color: theme-color(white);
                            margin-bottom: 1em;
                            font-size: 1.8em;
                            padding: 10px;
                        }
                    }
                }

                .image{
                    margin-top: $grid-gutter / 2;
                    max-height: 400px;
                    overflow: hidden;

                    img{
                        width: 100%;
                    }
                }
            }

            @include media-breakpoint-up(md){
                .wrap{
                    display: flex;
    
                    .text{
                        flex: 1;
                        z-index: 2;
                        padding-top: $grid-gutter;
    
                        p{
                            padding-right: $grid-gutter * 2;
                            padding-left: $grid-gutter /2;
                            
                            &:first-child{
                                padding: $grid-gutter / 2;
                                font-size: 3em;
                            }
                        }
                    }
    
                    .image{
                        flex: 1;
                        margin-left: -$grid-gutter;
                        margin-top: 0;
                        max-height: 600px;
                    }
                }
            }
        }

        #content{
            .row{
                flex-flow: column-reverse;
                
                @include media-breakpoint-up(md){
                    flex-flow: row;
                }
            }

            img{
                margin-bottom: $grid-gutter;
            }
        }
    }

    &.vote{
        #top{
            background-color: theme-color(blue);
            color: theme-color(white);

            h1{
                color: theme-color(gold);
            }

            .row{
                flex-flow: column-reverse;

                img{
                    margin-bottom: $grid-gutter / 2;
                }

                @include media-breakpoint-up(md){
                    flex-flow: row;

                    img{
                        margin-bottom: 0;
                    }
                }
            }
        }

        section{
            background-color: white;

            &:nth-child(2n + 1){
                background-color: theme-color(lightblue);
            }
        }

        #endorsements{
            .intro{
                margin-bottom: $grid-gutter;
            }

            .candidate{
                margin-bottom: $grid-gutter;

                .image{
                    margin-bottom: $grid-gutter / 2;

                    img{
                        max-width: 150px;
                    }
                }

                @include media-breakpoint-up(md){
                    display: flex;
                    padding-left: $grid-gutter;

                    .image{
                        flex: 0 0 150px;
                    }

                    .text{
                        padding-left: $grid-gutter / 2;
                    }
                }
            }
        }

        #ballotGuides{
            .guide{
                @extend .col-md-4;
                margin-bottom: $grid-gutter;

                .year{
                    font-weight: 600;
                    font-size: 1.2em;
                    padding-bottom: 5px;
                }
            }
        }
    }
}